In [ ]:
#JAHANZEB HASSAN

In [252]:
age = int(input("Enter your age"))
print("Your age is ",age+25)
name = input("Enter your name")
print("Your name is",name+" Smith")
student= input("Are you a student? yes/no")
a ="yes"
print(student ==a)
print(student!=a)

Enter your age30
Your age is  55
Enter your nameJahanzeb
Your name is Jahanzeb Smith
Are you a student? yes/noyes
True
False

In [237]:
width = 5.5
height = 3.25
area = width*height
print("The area of rectangle comes out to be",area)

The area of rectangle comes out to be 17.875

In [242]:
celsius = 10
fahrenheit = ((celsius)*9/5)+32
print("The temperature in fahrenheit is",fahrenheit)

The temperature in fahrenheit is 50.0

In [239]:
radius = 5
pi = 3.14159
area = pi*radius**2
print("Area of circle comes out to be",area)

Area of circle comes out to be 78.53975

In [47]:
fruits =["apple", "banana","orange","grape","kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [262]:
months=("January","February","March")
print(months)

('January', 'February', 'March')

In [261]:
numbers = [12, 34, 45, 67, 89, 100, 23, 56]
Sum =sum(numbers)
print("The sum of the numbers is",Sum)
average = Sum/len(numbers)
print("The average of the numbers is",average)

The sum of the numbers is 426
The average of the numbers is 53.25

In [247]:
fruits =["apple", "banana","orange","grape","kiwi"]
fruits.pop(0)
fruits.pop(len(fruits)-1)
print(fruits)

['banana', 'orange', 'grape']

In [248]:
capitals={"USA":"Washington D.C.",
          "France":"Paris",
          "Japan":"Tokyo"
          }
print(capitals)
capitals.update({"Germany":"Berlin"
})
print(capitals)
if "France" in capitals:
    print("France is present")
else:
    print("France is not present")

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}
{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}
France is present

In [1]:
number=int(input("Enter the number"))
if number%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter the number1
The number is odd

In [77]:
age =18
gpa = 3.0
if age>=18 and gpa>=3.0:
    print("Eligible for admission")
else:
    print("Not Eligible for admission")

Eligible for admission

In [78]:
set ={"apple","banana","orange","grape","kiwi"}
print(set)

{'apple', 'kiwi', 'banana', 'grape', 'orange'}

In [117]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
union = set1.union(set2)
print(union)
intersection = set1.intersection(set2)
print(intersection)
difference =set1.difference(set2)
print(difference)
print(set1.issubset(set2))

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
False

In [259]:
string = "Python programming is fun and powerful!"
print(len(string))
print(string.upper())
print(string.replace("fun","exciting"))
word = "Python"
if word in string:
    print("Word is present")
else:
    print("Word is not present")
print(string.split())

39
PYTHON PROGRAMMING IS FUN AND POWERFUL!
Python programming is exciting and powerful!
Word is present
['Python', 'programming', 'is', 'fun', 'and', 'powerful!']

In [249]:
def num_vowels(string):
    vowels =['a','e','i','o','u']
    count=0
    for i in string:
        for j in vowels:
            if i==j:
                count+=1
    print('The number of vowels in the string is',count)

num_vowels("Learning Python is fun and engaging.")

The number of vowels in the string is 10

In [251]:
def hours_to_min(hours):
    minutes =hours*60
    return(print("Hours into minutes are",minutes))
hours_to_min(1)

Hours into minutes are 60

In [204]:
def table(number):
    for i in range(1,13):
        j=i*number
        print(i,"X",number,"=",j)
table(3)

1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30
11 X 3 = 33
12 X 3 = 36